<div class="grid grid-cols-3">
  <a href="/blog/" class="justify-self-start inline-flex flex-shrink-0 justify-center items-center h-8 font-bold">
    <img class="mr-2" src="/img/back.svg" alt="Back button">
    Return to Blogs
  </a>
  <img class="justify-self-center" src="/img/blog.svg" alt="Changeblogg logo">
</div>
