---
layout: base
tags: blog
seo:
  title: Changelo.gg
  description: Changelogg is API release note notifications for businesses who depend on them
thumbnail: https://changelo.gg/img/changelogg-og-image.png
---
{% include "posts.njk" %}