@import url('https://fonts.cdnfonts.com/css/garamond');
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
}

.after-peer-checked\:text-gray-500:has(+ .peer:checked) {
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.swipe {
  background-image: url("/img/swipe.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 0.7rem;
}

#hs-basic-with-description:checked~#pricingDescription h2.monthly-price {
  display: none;
}

#hs-basic-with-description:checked~#pricingDescription h2.annual-price {
  display: block;
}

.billing-cycle::after {
  content: 'monthly'
}

#hs-basic-with-description:checked~#pricingDescription p.billing-cycle::after {
  content: 'annually'
}

.slider {
  max-width: 100%;
  height: auto;
  position: relative;
}

.slider input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.slider input[type=radio]:checked+div {
  opacity: 1;
  visibility: visible;
}

.slider label {
  cursor: pointer;

  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  background: black;

  bottom: 5px;
  left: calc(50% - 20px);
}

.slider .slide {
  max-width: 100%;
  height: auto;
  position: absolute;
  transition: all ease-in-out 500ms;
  opacity: 0;
  visibility: hidden;
}

.slider .previous {
  margin-right: 30px;
  opacity: 0.2;
  transition: opacity ease-in-out 300ms;
}

.slider .previous:hover {
  opacity: 1 !important;
}

.slider .next {
  margin-left: 30px;
  opacity: 0.2;
  transition: opacity ease-in-out 300ms;
}

.slider .next:hover {
  opacity: 1 !important;
}

#slide-1 label[for="control-1"] {
  opacity: 1 !important;
}

#slide-2 label[for="control-2"] {
  opacity: 1 !important;
}