---
layout: base
tags: home
seo:
  title: Changelo.gg
  description: Changelogg is API release note notifications for businesses who depend on them
---
<div class="container mx-auto mt-14">
  <div class="grid mb-8">
    <div class="mx-auto">
      <img src="img/changelogg.svg" />
    </div>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-[20%,60%,20%] justify-items-center grid-flow-row-dense">
    <div class="order-2 lg:order-1">
      <img src="img/hubspot.svg" class="lg:-mt-16 lg:ml-60" />
      <img src="img/salesforce.svg" class="lg:ml-32 lg:my-4" />
      <img src="img/twilio.svg" class="lg:ml-60"/>
    </div>
    <div class="w-fit order-1 lg:order-2 col-span-2 lg:col-span-1 mb-4 lg:mb-0">
      <h1 class="font-serif text-7xl text-center">Changelogg keeps track<br /> of API updates, so you<br /> <strong class="swipe"><em>never</em></strong> miss a thing.</h1>
    </div>
    <div class="order-3">
      <img src="img/youtube.svg" class="lg:-mt-16 lg:mr-60" />
      <img src="img/gmaps.svg" class="lg:ml-32 lg:my-4"/>
      <img src="img/shopify.svg" class="lg:mr-60"/>
    </div>
  </div>
  <div class="grid mt-12">
    <div class="mx-auto w-9/12">
      <img src="img/dashboard.png" />
    </div>
  </div>
</div>
<div class="container mx-auto lg:-mt-[344px] -mt-[122px] bg-black text-white">
  <div class="grid grid-cols-1 lg:grid-cols-2 justify-items-center lg:pt-[430px] pt-[146px]">
    <p class="lg:mb-32 mb-8 lg:col-span-2">Big updates, small summaries. No surprises.</p>
    <h2 class="font-serif text-5xl text-center mx-auto mt-16 w-9/12">Changelogg simplifies management of 3rd party API updates
      by notifying you when they are going to change.
    </h2>
    <div class="mt-8 lg:mb-32 lg:mx-16 mx-8">
      <!-- Timeline -->
      <div class="bg-white rounded-lg p-8 text-black">
        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="img/twilio.svg" alt="Twilio logo">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg class="flex-shrink-0 w-4 h-4 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"/><polyline points="14 2 14 8 20 8"/><line x1="16" x2="8" y1="13" y2="13"/><line x1="16" x2="8" y1="17" y2="17"/><line x1="10" x2="8" y1="9" y2="9"/></svg>
              Twilio updates their release notes
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="img/changelogg.svg" alt="Changelogg logo">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
              We detect the changes and notify you
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="A person at work">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><circle cx="18" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"></circle><path d="M13 6h3a2 2 0 0 1 2 2v7"></path><line x1="6" y1="9" x2="6" y2="21"></line></svg>
              You update your code where you depend on Twilio
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="A person at work">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-6">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
              Your next release goes smoothly! 🎉
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->
      </div>
      <!-- End Timeline -->
    </div>
    <h2 class="font-serif text-5xl text-center mx-auto mt-16 w-9/12 lg:order-2">Workflows help you handle notifications you might
      otherwise have missed.
    </h2>
    <div class="mt-8 lg:mb-32 lg:mx-16 mx-8 lg:order-1">
      <!-- Timeline -->
      <div class="bg-white rounded-lg p-8 text-black">
        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="img/changelogg.svg" alt="Changelogg logo">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
              We notify you of API changes
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="A person at work">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
              You're away on vacation 🏝️
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="img/changelogg.svg" alt="Changelogg logo">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
              Your workflow re-routes the notification to another employee
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:bg-gray-200 after:-translate-x-[0.56px]">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="https://images.unsplash.com/photo-1543269664-56d93c1b41a6?auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="Another person at work">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-8">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><circle cx="18" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"></circle><path d="M13 6h3a2 2 0 0 1 2 2v7"></path><line x1="6" y1="9" x2="6" y2="21"></line></svg>
              They fix your code
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-3">
          <!-- Icon -->
          <div class="relative">
            <div class="relative z-10 w-7 h-7 flex justify-center items-center">
              <img class="flex-shrink-0 w-7 h-7 rounded-full" src="https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="A person at work">
            </div>
          </div>
          <!-- End Icon -->

          <!-- Right Content -->
          <div class="grow pt-0.5 pb-6">
            <h3 class="flex gap-x-1.5 font-semibold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 w-4 h-4 mt-1"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
              Your next release goes smoothly! 🎉
            </h3>
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End Item -->
      </div>
      <!-- End Timeline -->
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 justify-items-center">
    <div class="flex justify-center mt-8 flex-wrap lg:col-span-2">
      <label for="hs-basic-with-description" class="text-sm text-white me-3 after-peer-checked:text-gray-500">Billed monthly</label>
      <input type="checkbox" id="hs-basic-with-description" class="relative w-[3.25rem] h-7 p-px peer
      border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200
      bg-gray-400 focus:ring-gray-600 focus:ring-offset-transparent disabled:opacity-50 disabled:pointer-events-none
      checked:bg-white checked:text-gray-100 checked:border-black focus:checked:border-gray-100
      before:inline-block before:w-6 before:h-6 before:bg-black checked:before:bg-black before:translate-x-0
      checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition
      before:ease-in-out before:duration-200">
      <label for="hs-basic-with-description" class="text-sm text-gray-500 ms-3 peer-checked:text-white">Billed annually</label>
      <div class="grid lg:grid-cols-3 gap-8 my-8 mx-8 lg:mx-32 w-full" id="pricingDescription">
        <div class="bg-white rounded-2xl p-8" id="starter-pricing">
          <h3 class="text-black font-sans font-bold text-2xl">Starter</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$2</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$3</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              1 API release notification subscription
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Workflow escalation</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="basic" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
        <div class="bg-white rounded-2xl p-8" id="plus-pricing">
          <h3 class="text-black font-sans font-bold text-2xl">Plus</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$10</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$12</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              3 API release notification subscriptions
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              1 Workflow escalation</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="plus" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
        <div class="bg-white rounded-2xl p-8" id="pro-pricing">
          <h3 class="text-black font-sans font-bold text-2xl">Pro</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$20</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$24</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              6 API release notification subscriptions
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              3 Workflow escalations</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="pro" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
      </div>
    </div>
    <p class="text-white text-lg lg:col-span-2">Additional subscriptions at $1/month.</p>
    <p class="text-white text-sm mb-16 lg:col-span-2">Enterprise looking for more?
      <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="enterprise" type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg hover:text-white/70">
        Get in touch
      </button>
    </p>
  </div>
</div>
<div id="hs-vertically-centered-modal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[60] overflow-x-hidden overflow-y-auto [--overlay-backdrop:static]" data-hs-overlay-keyboard="false">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-2xl lg:w-full m-3 lg:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
    <div class="w-full flex flex-col bg-white border shadow-sm rounded-xl">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 class="font-bold">
          Waitlist
        </h3>
        <button type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-vertically-centered-modal">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <iframe data-tally-src="https://tally.so/embed/wABjgD?hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="495" frameborder="0" marginheight="0" marginwidth="0" title="Changelogg"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none " data-hs-overlay="#hs-vertically-centered-modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% rollup "src/assets/js/pricing.js" | url %}
