---
layout: base
tags: home
seo:
  title: Changelo.gg
  description: Changelogg is API release note notifications for businesses who depend on them
---
<div class="container mx-auto mt-14">
  <div class="grid mb-8">
    <div class="mx-auto">
      <img src="img/changelogg.svg" />
    </div>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-[20%,60%,20%] justify-items-center grid-flow-row-dense">
    <div class="order-2 lg:order-1">
      <img src="img/hubspot.svg" class="lg:-mt-16 lg:ml-60" />
      <img src="img/salesforce.svg" class="lg:ml-32 lg:my-4" />
      <img src="img/twilio.svg" class="lg:ml-60"/>
    </div>
    <div class="w-fit order-1 lg:order-2 col-span-2 lg:col-span-1 mb-4 lg:mb-0">
      <h1 class="font-serif text-7xl text-center">Changelogg keeps track<br /> of API updates, so you<br /> <strong class="swipe"><em>never</em></strong> miss a thing.</h1>
    </div>
    <div class="order-3">
      <img src="img/youtube.svg" class="lg:-mt-16 lg:mr-60" />
      <img src="img/gmaps.svg" class="lg:ml-32 lg:my-4"/>
      <img src="img/shopify.svg" class="lg:mr-60"/>
    </div>
  </div>
  <div class="grid mt-12">
    <div class="mx-auto w-9/12">
      <img src="img/dashboard.png" />
    </div>
  </div>
</div>
<div class="container mx-auto lg:-mt-[344px] -mt-[122px] bg-black text-white">
  <div class="grid justify-items-center lg:pt-[430px] pt-[146px]">
    <p class="mb-6">Big updates, small summaries. No surprises.</p>
    <h2 class="font-serif text-5xl text-center mx-auto w-8/12">Changelogg simplifies management of 3rd party API updates
      by notifying you when they are going to change.
    </h2>
    <div class="flex justify-center mt-8 flex-wrap">
      <label for="hs-basic-with-description" class="text-sm text-white me-3 after-peer-checked:text-gray-500">Billed monthly</label>
      <input type="checkbox" id="hs-basic-with-description" class="relative w-[3.25rem] h-7 p-px peer
      border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200
      bg-gray-400 focus:ring-gray-600 focus:ring-offset-transparent disabled:opacity-50 disabled:pointer-events-none
      checked:bg-white checked:text-gray-100 checked:border-black focus:checked:border-gray-100
      before:inline-block before:w-6 before:h-6 before:bg-black checked:before:bg-black before:translate-x-0
      checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition
      before:ease-in-out before:duration-200">
      <label for="hs-basic-with-description" class="text-sm text-gray-500 ms-3 peer-checked:text-white">Billed annually</label>
      <div class="grid lg:grid-cols-3 gap-8 my-8 mx-8 lg:mx-32 w-full" id="pricingDescription">
        <div class="bg-white rounded-2xl p-8">
          <h3 class="text-black font-sans font-bold text-2xl">Starter</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$2</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$3</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              1 API release notification subscription
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Workflow escalation</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="basic" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
        <div class="bg-white rounded-2xl p-8">
          <h3 class="text-black font-sans font-bold text-2xl">Plus</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$10</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$12</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              3 API release notification subscriptions
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              1 Workflow escalation</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/x-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="plus" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
        <div class="bg-white rounded-2xl p-8">
          <h3 class="text-black font-sans font-bold text-2xl">Pro</h3>
          <h2 class="font-serif text-4xl text-black my-2 annual-price hidden">$20</h2>
          <h2 class="font-serif text-4xl text-black my-2 monthly-price">$24</h2>
          <p class="font-sans text-black billing-cycle">per month, billed </p>
          <ul class="list-inside space-y-1 text-black my-8 font-sans">
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              6 API release notification subscriptions
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by e-mail
            </li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              3 Workflow escalations</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Notifications sent by SMS</li>
            <li class="flex items-center">
              <img class="w-6 h-6 me-2 flex-shrink-0" aria-hidden="true" src="/img/check-circle.svg" />
              Priority support</li>
          </ul>
          <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="pro" type="button" class="w-full py-3 px-4 text-white bg-black rounded-xl pricing-button">Get Started</button>
        </div>
      </div>
    </div>
    <p class="text-white text-lg">Additional subscriptions at $1/month.</p>
    <p class="text-white text-sm mb-16">Enterprise looking for more?
      <button data-hs-overlay="#hs-vertically-centered-modal" data-pricing="enterprise" type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg hover:text-white/70">
        Get in touch
      </button>
    </p>
  </div>
</div>
<div id="hs-vertically-centered-modal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[60] overflow-x-hidden overflow-y-auto [--overlay-backdrop:static]" data-hs-overlay-keyboard="false">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-2xl lg:w-full m-3 lg:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
    <div class="w-full flex flex-col bg-white border shadow-sm rounded-xl">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 class="font-bold">
          Waitlist
        </h3>
        <button type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-vertically-centered-modal">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
      <div class="p-4 overflow-y-auto">
        <iframe data-tally-src="https://tally.so/embed/wABjgD?hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="495" frameborder="0" marginheight="0" marginwidth="0" title="Changelogg"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
      </div>
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none " data-hs-overlay="#hs-vertically-centered-modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/pricing.js" | url }}"></script>